# == Cache by building systems ==

# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# `compile_commands.json` for language server.
compile_commands.json

# This file includes some of my privacies.
info.txt

# == Editor specific configurations and caches ==
# VSCode.
.vscode/